// Custom.scss
//Option A Include all of Bootstrap

//Include any default variable overrides here (troutgh function won't be avalilable)
$primary: #906427;
$secondary: #B6AC97;
$dark:#392C1E;
$black:  #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif: "Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";